---
import ErrorPage from "@lib/ErrorPage.astro";
---

<html lang="et">
  <head>
    <meta name="robots" content="follow, noarchive, noindex" />
  </head>
  <body>
    <ErrorPage language="et" />
  </body>
</html>
