---
import XIcon from "@lib/svg/XIcon.astro";
---

<button
  data-back-button
  class="flex items-center justify-center m-2 rounded-lg outline-none group size-10 bg-neutral-500 focus:bg-neutral-200 hover:bg-lime-600"
  aria-label="Go back"
>
  <XIcon class="w-8 text-white group-focus:text-neutral-500" />
</button>
