<div class="mt-16">
  <div class="max-w-xl mx-auto">
    <h3 class="uppercase">Muidugi, võimalik oli see nii ja teisiti</h3>
    <p class="mt-4 text-lg">
      Jälle hakkas tal väga kahju, et ta enne pulmi üksinda õpetaja juurde ei läinud ning temale oma südant tühjaks ei puistanud.
    </p>
  </div>

  <form action="#" method="POST" class="max-w-xl mx-auto mt-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div class="sm:col-span-2">
        <label for="email" class="block text-sm font-medium uppercase font-brandon">Email</label>
        <div class="mt-2.5">
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="block w-full rounded border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-lime-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="message" class="block text-sm font-medium uppercase font-brandon">Sõnum</label>
        <div class="mt-2.5">
          <textarea
            name="message"
            id="message"
            rows="4"
            class="block w-full rounded border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-lime-600 sm:text-sm sm:leading-6"
          >
          </textarea>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <button
        type="submit"
        class="block w-full font-brandon rounded bg-lime-700 px-3.5 py-2.5 text-center text-lg font-medium text-white shadow-sm hover:bg-lime-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 uppercase"
      >
        Saada
      </button>
    </div>
  </form>
</div>
