---
import { getImage } from "astro:assets";
import grain from "@assets/grain.png";

const optimizedBackground = await getImage({ src: grain, format: "webp" });
---

<!-- class="absolute inset-0 hidden pointer-events-none opacity-100 mix-blend-overlay sm:block" -->
<div
  class="absolute inset-0 pointer-events-none opacity-100 mix-blend-overlay"
  style={`background-image: url(${optimizedBackground.src});`}
>
</div>

<style>
  div {
    transform: translate3d(0, 0, 0);
  }
</style>
