<div class="relative mt-10 sm:mt-14">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-neutral-700"></div>
  </div>
  <div class="relative flex justify-center items-center">
    <span class="bg-white border size-2 border-neutral-500 rotate-45 mx-1"></span>
    <span class="bg-white border size-3 border-neutral-500 rotate-45 mx-1"></span>
    <span class="bg-white border size-2 border-neutral-500 rotate-45 mx-1"></span>
  </div>
</div>
