---
interface Props {
  title?: string;
  align?: "left" | "right";
}

const { title, align = "left" } = Astro.props;

const titleClass = `uppercase text-balance ${align === "right" && "lg:text-right"}`;
---

{title && <h2 class={titleClass}>{title}</h2>}

<!-- LINE -->
<div class=`relative flex w-full my-4 sm:my-8 border-b-2 ${align === "right" ? "justify-start": "justify-end"}`>
  <!-- GFX -->
  <div class="absolute bottom-0 hidden lg:block">
    <slot />
  </div>
</div>
