<nav class="fixed z-10 w-full bg-white shadow">
  <div class="px-2 py-2 mx-auto max-w-8xl sm:px-6 lg:px-8">
    <div class="relative flex justify-between min-h-10">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div class="flex items-center justify-center flex-1">
        <div class="hidden text-sm sm:ml-6 sm:flex sm:space-x-8 font-brandon">
          <a href="#sae-ja-hoovelmaterjal" class="inline-flex items-center px-1 pt-1 font-medium current-menu-item menu-item">
            SAE- JA HÖÖVELMATERJAL
          </a>
          <a href="#puidugraanul" class="inline-flex items-center px-1 pt-1 font-medium menu-item hover:text-neutral-900">PUIDUGRAANUL</a>
          <a href="#veoteenus" class="inline-flex items-center px-1 pt-1 font-medium menu-item hover:text-neutral-900">VEOTEENUS</a>
          <a href="#metsa-ulestootamine" class="inline-flex items-center px-1 pt-1 font-medium menu-item hover:text-neutral-900">
            METSA ÜLESTÖÖTAMINE, RAIEÕIGUSTE JA KINNISTUTE OST
          </a>
          <a href="#metsamaterjali-ost" class="inline-flex items-center px-1 pt-1 font-medium menu-item hover:text-neutral-900">
            METSAMATERJALI OST
          </a>
          <a href="#kontakt" class="inline-flex items-center px-1 pt-1 font-medium menu-item hover:text-neutral-900">KONTAKT</a>
        </div>
      </div>
    </div>
  </div>
</nav>
