---
import "../../app.css";
import { getImagePagePictureData } from "@lib/cms-images";
import { imagePagesData } from "@lib/store";
import Layout from "../../layouts/MainLayout.astro";
import MediaMenu from "@lib/menu/MediaMenu.astro";
import Picture from "@lib/components/Picture.astro";

export async function getStaticPaths() {
  return imagePagesData.get().map(({ id, title }) => {
    return {
      params: { id },
      props: { title },
    };
  });
}

const { id } = Astro.params;

const data = await getImagePagePictureData(id);

const { title } = Astro.props;
---

<Layout {title} noindex nofollow>
  {
    data && (
      <div class="fixed inset-0 z-10 flex justify-center items-center bg-black ">
        <Picture {data} class="min-w-0 max-h-screen object-contain" />
        <MediaMenu />
      </div>
    )
  }
</Layout>
